<header>
    <div class="container">
        <a href="/admin/" class="logo-header">Stock List Admin</a>
        <nav>
            {{!-- <a href="/admin/">Stock List</a> --}}
            {{!-- <a href="#">Orders</a> --}}
            
            <a href="/admin/add-product" class="btn">Add Product</a>
            <a href="/" class="btn">Log out</a>
            <a href="/admin-login">
            {{#if user}}
            Welcome {{user.name}}
            {{else}}
            Account
            {{/if}}
            </a>
        </nav>
    </div>
</header>