<section>
    <div class="login-form-container">
        <div class="login-form">
            <h2 class="text-center">Admin Login</h2>
            <form action="/admin-login" method="post" enctype="multipart/form-data">

                <p>Email ID</p>
                <input type="email" name="email" class="form-control" placeholder="Email Address">

                <p>Password</p>
                <input type="password" name="password" class="form-control" placeholder="Password">

                <a href="/admin-signup">Create new account?</a>

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</section>