<section>
    <div class="signup-form-container">
        <div class="signup-form">
            <h2 class="text-center">Create Account</h2>
            <form action="/admin-signup" method="post" enctype="multipart/form-data">

                <p>Admin Name</p>
                <input type="text" name="name" class="form-control" placeholder="Admin Name">

                <p>Email ID</p>
                <input type="email" name="email" class="form-control" placeholder="Email Address">

                <p>Password</p>
                <input type="password" name="password" class="form-control" placeholder="Password">

                <a href="/admin-login">Already have an account?</a>

                <button type="submit">Signup</button>
            </form>
        </div>
    </div>
</section>